<h2>Options</h2>
<ul class="index-options">
	<li><%= link_to "Schedule", schedule_path  %></li>
	<li><%= link_to "All Plants", plants_path  %></li>
	<li><%= link_to "Add Plant", new_plant_path  %></li>
	<li><%= link_to "Planter Boxes", planters_path  %></li>
</ul>
