<h2>Choose Your Adventure</h2>
<ul class="index-options">
	<li><%= link_to "Schedule", schedule_path  %> - See planting schedule for the next two weeks</li>
	<li><%= link_to "All Plants", plants_path  %> - See info for all plants</li>
	<li><%= link_to "Add Plant", new_plant_path  %> - Add a plant to the database</li>
	<li><%= link_to "Planter Boxes", planters_path  %> - See list of all planter boxes</li>
</ul>
