//*============ MAIN PAGE ELEMENTS ============*/
	body {
		position:relative; 
		margin: 0 auto;
		font-size: 100%;
		// background-image:url(../img/background.jpeg);
		// background-repeat:repeat;
	}	

	#wrapper {
		margin: 0 auto;
		width: 90%;
		max-width: 940px;
		min-width: 600px;
	}

	.clear {
		clear: both;
	}

	// Mainly for rails flash messages
	div.alert {
		margin: 10px 0 0 0;
		padding: 20px;
		@include round(5px);
		&.alert-success, &.alert-notice {
			background-color: $success;
			border: 1px solid darken($success, 20%);
		}
		&.alert-error, &.alert-alert {
			background-color: $error;
			border: 1px solid darken($error, 20%);
		}
	}
//*============ END MAIN PAGE ELEMENTS ============*/

//*============ HEADER ============*/
	header {
		margin-bottom: 20px;
		padding: 20px;
		top: 0px;
		width: 100%;
		background-color: rgba(255,255,255,0.9);
		@include boxshadow;
		h1 {
			display: inline;
			font-size: 200%;
			a {
				color: $text;
				text-decoration: none;
				&:hover {
					text-decoration: none;
				}
			}
		}
		// For side-by-side nav links at the top
		ul {
			position: relative;
			top: -20px;
			float: right;
			li {
				display: inline;
				a {
					color: $text;
					text-decoration: none;
				}
				&:not(:first-child) {
					&::before {
						content: " | ";
						color: $main;
					}
				}
			}
		}
	}
//*============ END HEADER ============*/

//*============CONTENT============*/
	#content {
		h2 {
			margin: 20px 0;
			font-size: 170%;
			border-bottom: 1px solid $main;
		}
		form h2 {
			border-bottom: 1px solid darken($main, 15%);
		}
		h3 {
			margin-bottom: 10px;
			font-size: 150%;
		}

		ul.index-options {
			width: 100%;
			// text-align: center;
			li {
				a {
					display: inline-block;
					margin-bottom: 10px;
					background-color: $accent;
					padding: 40px;
					color: white;
					font-size: 120%;
					text-decoration: none;
					@include round(20px);
					&:hover {
						background-color: lighten($accent, 30%);
						color: $text;
					}
				}
			}
		}
		ul.plant-list {
	    -webkit-column-count: 3; /* Chrome, Safari, Opera */
	    -moz-column-count: 3; /* Firefox */
	    column-count: 3;
	    -webkit-column-rule: 1px solid $main; /* Chrome, Safari, Opera */
	    -moz-column-rule: 1px solid $main; /* Firefox */
	    column-rule: 1px solid $main;
			li {
				line-height: 120%;
				&.category {
					font-weight: bold;
				}
				&.name {
					padding-left: 15px;
				}
			}
			span.tiny-plants {
				font-size: 70%;
			}
		}
		p.instructions {
	    -webkit-column-count: 2; /* Chrome, Safari, Opera */
	    -moz-column-count: 2; /* Firefox */
	    column-count: 2;
	    -webkit-column-rule: 1px solid $main; /* Chrome, Safari, Opera */
	    -moz-column-rule: 1px solid $main; /* Firefox */
	    column-rule: 1px solid $main;
		}
		$size: 12*10;
		div.planter-box {
			div.row {
				clear: both;
				div.square {
					float: left;
					width: $size + px;
					height: $size + px;
					border: 2px solid black;
					text-align: center;
					line-height: $size + px;
					span {
						display: inline-block;
						vertical-align: middle;
						line-height: normal;
					}
				}
				a div.square {
					border: 2px solid black;
					&:hover {
						background-color: $accent;
						color: white;
					}
				}
				$height: 30px;
				div.square-name {
					float: left;
					width: $size + px;
					height: $height;
					text-align: center;
					line-height: $height;
					span {
						display: inline-block;
						vertical-align: middle;
						line-height: normal;
						a {
							text-decoration: none;
							color: $main;
							&:hover {
								color: $accent;
							}
						}
					}
				}
				div.seeds {
					position: relative;
					float: left;
					border: 1px solid black;
					text-align: center;
					font-size: 80%;
					&.one {
 						width: 100%;
						height: 100%;
						line-height: $size + px;
						a {
							padding-top: $size/2 - 10 +px;
						}
					}
					&.four {
						width: 50%;
						height: 50%;
						line-height: $size/2 + px;
						a {
							padding-top: $size/4 - 15 +px
						}
					}
					&.nine {
						width: 33.334%;
						height: 33.7%;
						line-height: $size/3 + px;
						font-size: 75%;
						a {
							padding-top: $size/9 - 8 +px;
						}
					}
					&.sixteen {
						width: 25%;
						height: 25%;
						line-height: $size/4 + px;
						font-size: 50%;
						a {
							padding-top: 2px;
						}
					}
					&.none {
						background-color: lighten(gray, 30%);
					}
					span {
						display: inline-block;
						vertical-align: middle;
						line-height: normal;
					}
					a {
						position: absolute;
						width: 100%;
						height: 100%;
						top: 0;
						left: 0;
						z-index: 10;
						text-decoration: none;
						vertical-align: middle;
						line-height: normal;
						&:hover {
							color: white;
							background-color: $accent;
						}
						&.planted {
							background-color: $main;
						}
						&.not-planted {
							background-color: lighten($main, 30%);
							&:hover {
								color: white;
								background-color: $main;
							}
						}
					}
				}
			}
			&.small {
				$size: 12*6;
				div.row {
					div.square {
						width: $size +px;
						height: $size +px;
						line-height: $size +px;
						font-size: 80%;
					}
				}
			}
		}
		ul.planter-list {
			li {
				a {
					text-decoration: none;
				}
			}
		}
		hr.main {
			border: 0;
			height: 1px;
			background: $main;
		}
	}
//*============END CONTENT============*/

//*============ FOOTER ============*/
	footer {
		margin-top: 20px;
		padding: 15px;
		background-color: $main;
		color: white;
		clear: both;
		ul {
			text-align: center;
			li {
				display: inline;
				&:not(:first-child) {
					&::before {
						content: " | ";
						color: $text;
					}
				}
			}
		}
		a, a:visited {
			color: white;
			text-decoration: underline;
			&:hover, &:focus, &:active { 
			}
		}
	}
//*============ END FOOTER ============*/