//*============ FORMS ============*/
	form {
		margin: 20px auto 0 auto;
		width: 460px;
		@include round(5px);
		fieldset {
			margin-top: -20px;
			padding: 20px;
			background-color: #F8F8F8;
			@include rounded(0, 0, 5px, 5px);
		}
		h2 {
			padding: 20px;
			font-size: 200%;
			letter-spacing: .03em;
			background-color: $main;
			color: white;
			// border is set in content section
			@include rounded(5px, 5px, 0, 0);
			span {
				display: block;
				margin-top: 8px;
				font-size: .5em;
			}
		}
		label {
			display: block;
			margin: 10px 0 5px 0;
		}
		input[type="text"], input[type="email"], input[type="password"], input[type="tel"], input[type="url"], textarea {
			padding-left: 10px;
			width: 100%;
			height: 2em;
			line-height: 2em;
			border: 1px solid lighten(gray, 30%);
			outline: 0;
			@include round(5px);
			transition: box-shadow 0.2s ease;
			&:focus {
				outline-style:none;
				outline-width:initial;
				outline-color:#000000;	
				-o-box-shadow: lighten(gray, 40%) 0px 0px 3px 1px inset;
				box-shadow: lighten(gray, 40%) 0px 0px 3px 1px inset;
			}
		}
		textarea {
			height: 10em;
		}
		ul.errors {
			color: red;
		}
		#error_explanation {
			border: 1px solid darken($error, 20%);
			padding: 10px;
			background-color: $error;
			@include round(5px);
			h2 {
				padding: 0;
				margin: 0 0 10px 0;
				background-color: $error;
				color: $text;
				border: none;
				font-size: 120%;
				font-weight: bold;
			}
		}
		.field_with_errors {
			input {
				border: 1px solid red;
			}
		}
		.submit {
			margin-top: 20px;
			width: 100%;
			text-align: center;
			input {
				padding: 10px 20px 12px 20px;
				cursor: pointer;
				background-color: $main;
				font-size: 120%;
				color: white;
				border: none;
				@include round;
			  transition: background-color 0.3s ease;
				&:hover {
					background-color: darken($main, 10%);
				}
				&:active {
					background-color: $accent;
				}
			}
		}
	}
//*============ END FORMS ============*/