//*============ WINDOW SIZE ============*/
	#size {
		position: fixed;
		bottom: 0;
		width: 100%;
		background-color: rgba(115,146,214, 0.8);
		color: white;
		padding: 10px;
		p {
			padding: 0;
			margin: 0;
			text-align: center;
			font-size: 18px;
		}
	}
//*============ END WINDOW SIZE ============*/