<header>
  <h1><%= link_to "Kate's Gardening", root_url %></h1>
  <nav>
    <ul>
      <li><%= link_to "Plants", plants_path %></li>
      <li><%= link_to "Add Plant", new_plant_path %></li>
      <li><%= link_to "Planter Boxes", planters_path %></li>
    </ul>
  </nav>
</header>